[submodule "submodules/crash"]
	path = submodules/crash
	url = https://github.com/crashcloud/crash
	branch = clicky/immutable-db
[submodule "submodules/crash.server"]
	path = submodules/crash.server
	url = https://github.com/crashcloud/crash.server
	branch = clicky/immutable-db
